<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Seafood Batam - Kerang Ijo Saus Padang</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">

  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/Magnific-Popup/magnific-popup.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================Hero Banner Section start =================-->
  <section class="hero-banner hero-banner-sm">
    <div class="hero-wrapper">
      <div class="hero-left">
        <h1 class="hero-title">Kerang Ijo Saus Padang</h1>
        <p>Kerang hijau enak diolah menjadi kerang rebus dengan sambal kacang untuk cocolan, kerang saus Padang yang pedas, atau kerang saus tiram. Dan disini kami menyediakan masakan kerang hijau saus padang pedas dan dimana rasanya sangat enak jadi kalian wajib coba makanan ini. Dan salah satu makanan favorit yang ada di Seafood Batam.</p>
        <ul class="hero-info d-none d-md-block">
          <li>
            <img src="img/banner/fas-service-icon.png" alt="">
            <h4>Layanan Cepat</h4>
          </li>
          <li>
            <img src="img/banner/fresh-food-icon.png" alt="">
            <h4>Masakan Segar</h4>
          </li>
          <li>
            <img src="img/banner/support-icon.png" alt="">
            <h4>24/7 Support</h4>
          </li>
        </ul> 
      </div>
      <div class="hero-right">
        <div class="owl-carousel owl-theme w-100 hero-carousel">
          <div class="hero-carousel-item">
            <img class="img-fluid" src="img/new_img/kerang_ijo_saus_padang.jpg" alt="">
          </div>
        </div>
      </div>
      <ul class="social-icons d-none d-lg-block">
        <li><a href="https://www.youtube.com/results?search_query=seafood+indonesia"><i class="ti-youtube"></i></a></li>
        <li><a href="#"><i class="ti-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/explore/tags/seafoodindonesia/?hl=id"><i class="ti-instagram"></i></a></li>
      </ul>
    </div>
  </section>
  <!--================Hero Banner Section end =================-->


  <!--================Blog Area =================-->
	<section class="blog_area single-post-area section-margin">
			<div class="container">
					<div class="row">
									<div class="single-post">
											<div class="blog_details">
                          <h2>Kandungan Gizi:</h2>
                          <ul class="mt-2 mb-4">
                            <li>Dalam 3 ons porsi kerang hijau, kandungan kalori dan lemak yang dimiliki kerang hijau bisa sekitar 145 kalori dengan 4 gram lemak, 6 gram karbohidrat, 48 mg kolesterol dan 314 mg sodium.</li>
                          </ul>
													<h2>Bahan:</h2>
                          <ul class="mt-3 mb-4">
                            <li>•	500 gram kerang hijau, cuci bersih</li>
                            <li>•	2 lembar daun salam</li>
                            <li>•	1 lt air untuk merebus</li>  
                          </ul>
                          <h2>Bahan Bahan Saus:</h2>
                          <ul class="mt-2 mb-4">
                            <li>•	1 buah bawang bombay, diiris panjang</li>
                            <li>•	1 sdm saus tiram</li>
                            <li>•	3 sdm saus tomat</li>
                            <li>•	4 sdm saus sambal</li>
                            <li>•	200 ml sir</li>
                            <li>•	2 sdm margarine untuk menumis</li>
                            <li>•	Garam, merica dan gula pasir secukupnya</li>
                            <li>•	1 butir telur untuk mengentalkan</li>
                          </ul>
                          <h2>Bumbu Halus:</h2>
                          <ul class="mt-2 mb-4">
                            <li>•	3 buah cabai rawit</li>
                            <li>•	3 buah cabai merah keriting</li>
                            <li>•	3 siung bawang putih</li>
                            <li>•	2 cm jahe</li>
                            <li>•	2 buah cabai rawit iris tipis</li>
                          </ul>
						  <h2>Cara Memasak:</h2>
                          <ul class="mt-2 mb-4">
                            <li>1.	Hilangi rambut/ kotoran kerang. Sikat cangkang kerang lalu Cuci bersih dibawah air yg mengalir.</li>
							<li>2.	Cuci dan Siapkan semua bumbu</li>
							<li>3.	Panaskan air lalu masukkan bumbu rebus dan kerang. Rebus hingga kerang terbuka cangkang nya.</li>
							<li>4.	Tiriskan kerang</li>
							<li>5.	Blender semua bahan bumbu halus tambahkan 2 sdm minyak goreng supaya mudah dlm memblender</li>
							<li>6.	Panaskan minyak goreng, tumis bumbu halus hingga harum.</li>
							<li>7. 	Masukkan bumbu lain, jahe geprak, merica bubuk, kaldu bubuk, garam,gula, saos tiram, saos sambal. Tumis kembali sebentar.</li>
							<li>8. 	Masukkan potongan nanas dan tomat</li>
							<li>9.	Masukkan kerang</li>
							<li>10.	Tambahkan air. Kemudian aduk rata hingga tercampur (pelan pelan saja) atau goyang" teflon nya.</li>
							<li>11.	Setelah tercampur rata, matikan kompor. Dan sajikan.</li>
							<li>12.	Kerang ijo saus padang siap disajikan.</li>
                          </ul>
						  
						  
											</div>
                  </div>
                    
			</div>
	</section>
	<!--================Blog Area =================-->
	
  <!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>Tentang Kami</h6>
								<p>
									Batam seafood terbentuk sejak 2020, dimana pendirinya sangat menyukai makanan laut seperti ikan, udang, kepiting,dll. 
								</p>

								<h6 class="m-0">LOKASI</h6>
								<p class="m-0 p-0">
									BATAM INDONESIA
								<ul>(+62) 85155272795 </ul>
								</p>
								<p class="footer-text">
								Copyright 2020 All rights reserved | SEAFOOD BATAM</a>
							</p>								
						</div>
					</div>
					<div class="col-lg-5  col-md-6 col-sm-6">
						<div class="single-footer-widget">
							<h6>Dapatkan Info Resep dan cara Memasak dari Website kami</h6>
							<p>Kami akan selalu update tentang Resep dan Cara Memasak menu lainnya setiap minggu!</p>
							 <div class="form-wrap" id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
            method="get">
              <div class="input-group">
                <input type="email" class="form-control" name="EMAIL" placeholder="Masukkan E-MAIL Kamu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                <div class="input-group-append">
                  <button class="btn click-btn" type="submit">
                    <i class="ti-arrow-right"></i>
                  </button>
                </div>
              </div>
              <div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
            </form>
          </div>
						</div>
					</div>						
					<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
						<div class="single-footer-widget">
							<h6>Info Lain</h6>
							<p>Referensi Lain dari kami! </p>
							<div class="text-center text-lg-left footer-social">
								<ul><a href="https://www.instagram.com/explore/tags/seafoodindonesia/?hl=id"><i class="ti ti-instagram"><h12>  Instagram</h12></i></a></ul>
								<ul><a href="https://www.youtube.com/results?search_query=seafood+indonesia"><i class="ti ti-youtube"><h12>  YouTube</h12></i></a></ul>								
							</div>
						</div>
					</div>							
				</div>
			</div>
		</footer>	
		<!-- End footer Area -->	

  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="vendors/Magnific-Popup/jquery.magnific-popup.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
